.summary {
  &-container {
    width: fit-content;
  }

  &-content {
    border-bottom: 1px solid #999999;
    margin-bottom: 10px;
    margin-left: 10px;
    width: fit-content;
  }

  &-h3 {
    font-weight: 400;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    margin-left: 10px;
    width: 250px;
  }
}

#vchr {
  // height: 80px;
  padding: 5px;
  font-size: 1rem;
  margin-left: 10px;
  border: none;
  width: 15.5rem;

  &:focus {
    outline: none;
  }
}
