.navbar {
  display: flex;
  flex-direction: row-reverse;
  background: lightgray;

  &-ul {
    list-style: none;
    display: flex;
    padding: 1rem;
  }

  &-m {
    border-right: 1px solid #333;
  }

  &-li {
    padding: 0 1rem;
  }

  &-a {
    color: #333;
    text-decoration: none;
  }

  &-btn {
    background: #333;
    color: white;
    padding: 5px 10px;
  }
}
