.navbar {
  display: flex;
  flex-direction: row-reverse;
  background: lightgray;
  border-bottom: 1px solid #666666;

  &-ul {
    list-style: none;
    display: flex;
    padding: 1rem;
  }

  &-m {
    border-right: 1px solid #333;
  }

  &-li {
    padding: 0 1rem;
  }

  &-a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #ff1a1a;
    }
  }

  &-btn {
    background: #333;
    color: white;
    padding: 5px 10px;
  }

  &-special-base {
    position: relative;
  }

  &-special-qty {
    display: block;
    position: absolute;
    min-height: 1rem;
    min-width: 1rem;
    text-align: center;
    top: -10px;
    right: 10px;
    border-radius: 50%;
    background: #ff1a1a;
    color: white;
  }
}
