* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-dark,
.btn-light {
  margin: 20px 20px 20px 0;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: #ff3300;
  }
}

.btn-dark {
  color: white;
  background: #333;
  border: 1px solid #333;
}

.btn-light {
  color: #4d4d4d;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
}
