* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-dark,
.btn-light {
  margin: 20px 20px 20px 0;
  padding: 5px 10px;

  &:hover {
    cursor: pointer;
    color: #ff1a1a;
  }
}

.btn-dark {
  color: white;
  background: #333;
  border: 1px solid #333;
}

.btn-light {
  color: #4d4d4d;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
}

.progress {
  &-container {
    background: #e6e6e6;
    height: 100px;
    padding: 20px;
    overflow: hidden;
    border-top: 1px solid white;
  }

  &-content {
    color: #999999;
    list-style: none;
    display: flex;
  }

  &-list {
    padding: 10px 165px;
    cursor: pointer;
    border-bottom: 1px solid #999999;
  }

  &-active {
    color: #333;
    border-bottom: 1px solid #333;
  }

  &-a {
    text-decoration: none;
    color: #999999;

    &:hover {
      color: #ff1a1a;
    }
  }
}
