.shipping {
  &-container {
    width: 100%;
    min-height: 79vh;
  }

  &-content {
    // background: url("../../assests/images/sc.jpg") no-repeat center center /
    //   cover;
    padding: 2rem 16.2rem 0 2rem;
    display: flex;
    justify-content: space-between;
  }

  &-left {
    width: 50%;
    margin-top: 2px;
  }

  &-form {
    padding: 1.5rem 0;
    width: 100%;
    border-bottom: 1px solid #999999;

    input {
      width: 48%;
      display: inline-block;
      padding: 5px;
      margin-bottom: 1rem;
    }
  }

  &-form-container {
    display: flex;
    justify-content: space-between;
  }

  &-form-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      width: 100%;
    }
  }

  &-charges {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #999999;
    padding-top: 1rem;
  }

  &-charges-content {
    display: flex;
    border: 1px solid #999999;
    width: 48%;
    align-items: center;
    padding: 10px;

    input {
      margin-top: 10px;
      width: 30px;
      height: 20px;
    }
  }

  &-charges-description {
    padding: 10px;

    p {
      font-size: 12px;
      margin-bottom: 5px;
    }

    p:first-child {
      font-size: 1rem;
    }
  }

  &-lower {
    padding: 0 2rem;
  }

  &-h3 {
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid #999999;
  }
}

.shipping-toggler:checked ~ .shipping-charges-content {
  background: #999999;
}

@media (max-width: 768px) {
  .shipping {
    &-content {
      flex-direction: column;
      padding-right: 10rem;
    }

    &-left {
      margin-left: 10px;
      width: 100%;
    }

    &-right {
      margin-top: 1rem;
      border-bottom: 1px solid #999999;
      padding-bottom: 10px;
    }

    &-form {
      input {
        border: 1px solid #999999;
      }
    }
  }
}

@media (max-width: 480px) {
  .shipping {
    &-content {
      padding-right: 2rem;
      padding-left: 1rem;
    }

    &-charges-description {
      width: 8rem;

      p {
        font-size: 10px;
      }

      p:first-child {
        font-size: 13px;
      }
    }
  }
}
