.progress {
  &-container {
    background: #e6e6e6;
    height: 100px;
    padding: 20px;
    overflow: hidden;
    border-top: 1px solid white;
  }

  &-content {
    color: #999999;
    list-style: none;
    display: flex;
  }

  &-list {
    padding: 10px 130px;
    border-bottom: 1px solid #999999;
  }

  &-active {
    color: #333;
    border-bottom: 1px solid #333;
  }
}
