.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  border-top: 1px solid #333;

  &-content {
    padding: 1rem;
  }

  &-ul {
    list-style: none;
    display: flex;
    padding-right: 2rem;
  }

  &-m {
    border-right: 1px solid #333;
  }

  &-li {
    padding: 0 1rem;
  }

  &-a {
    color: #333;
    text-decoration: none;
  }

  p {
    margin-top: 10px;
    text-align: center;
  }
}
