.progress {
  &-container {
    background: lightgray;
    height: 300px;
  }

  &-content {
    color: #b3b3b3;
    list-style: none;
    display: flex;
  }

  &-list {
    padding: 10px 20px;
    border-bottom: 1px solid #b3b3b3;
  }

  &-active {
    color: #333;
    border-bottom: 1px solid #333;
  }
}
