.cart {
  &-wrapper {
    min-height: 79vh;
  }

  &-container {
    // background: url("../../assests/images/sc.jpg") no-repeat center center /
    //   cover;
    padding: 0 2rem;
  }

  &-content {
    display: flex;
    justify-content: space-around;
  }

  &-h2 {
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 10px 0;
  }

  &-content-left {
    border-bottom: 1px solid #999999;
  }

  &-lower {
    margin: 0 12rem;
  }
}

@media (max-width: 768px) {
  .cart {
    &-content {
      flex-direction: column;
      justify-content: space-around;
    }

    &-lower {
      margin: 0 auto;
      border-top: 1px solid #999999;
    }
  }
}
