.cart {
  &-wrapper {
    min-height: 79vh;
  }

  &-container {
    padding: 0 2rem;
  }

  &-content {
    display: flex;
    justify-content: space-around;
  }

  &-h2 {
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 10px 0;
  }

  &-content-left {
    border-bottom: 1px solid #999999;
  }

  &-lower {
    margin: 0 10.5rem;
  }
}
